
    body
{
    color: white;
    background: #836FFF;
    font-family: "Roboto", sans-serif;
}

    h1
    {
        font-size: 55px;
        line-height: 45px;
    }

        h1 strong
    {
        color: yellow;     
    }

    header ul li a{
    color: pink;
    text-decoration: none ;
}

header ul{
    list-style: none;
}

header ul li{
    display: inline;
}
header, main, footer{

    border: dotted black;
    margin: 30 80 30 80px;
}
footer{
    background: #6A5ACD;
}
